*{
    margin:0;
    padding:0;
}

ul,li{
    list-style:none;
}

#wrap{
    width:100%;
    height:100%;
}

.subject{
    font-size:68px;
    padding:22px;
    text-align:center;
}

.nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    min-width:25%;
    height:75px;
    box-shadow: 0 4px 4px -4px gray;
}

.nav > .category {
    height:inherit;
}

.nav > .category > input {
    display:none;
}

.nav > .category > input:checked + label{
    background:crimson;
    color:#fff;
}

.nav > .category > label{
    cursor:pointer;
    display:inline-block;
    height:55px;
    line-height:55px;
    margin-bottom:25px;
    padding:0 30px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black", sans-serif;
    font-size: 22px;
    font-weight: bold;
    border:1px solid #ddd;
    border-radius: 30px;
}


.nav > .category > .category-item{
    position:absolute;
    display:none;
    left:0px;
}

.nav > .category > input:checked + label + .category-item{
    display:block;
}

.category-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    width:100%;
}

.category-item > li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-height:100px;
    width:80%;
    margin:25px auto 0 auto;
    border:1px solid #efefefa9;
}

.category-item > li:hover > .emotion_hover{
    display:flex;
    align-items: center;
}

.category-item > li > .emotion{
    display:inline-block;
    box-sizing: border-box;
    padding:20px;
    height:inherit;
    font-size:40px;
    font-weight:bold;
    background:#eee;
    min-width:200px;
    text-align:center;
    line-height:100px;
}

.category-item > li > .emotion_hover{
    display:none;
    

}

.category-item > li > .emotion_hover > span{
    font-size:110px;
}

.category-item > li > .emotion_hover > span.txt{
    font-size:40px;
    padding: 0px 20px;
}






